

{% block body %}
    <h1>Les Mécaniciens</h1>

    <table class="table" id="dataTable">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Localisation</th>
                <th scope="col">Disponibilite</th>
                <th scope="col">Numero</th>
                <th scope="col">Image</th>
                <th scope="col">Email</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mecanicien in mecaniciens %}
            <tr>
                <td>{{ mecanicien.id }}</td>
                <td>{{ mecanicien.nom }}</td>
                <td>{{ mecanicien.prenom }}</td>
                <td>{{ mecanicien.localisation }}</td>
                <td>{{ mecanicien.disponibilite }}</td>
                <td>{{ mecanicien.numero }}</td>
                <td>{{ mecanicien.image }}</td>
                <td>{{ mecanicien.email }}</td>
                <td>
                    <a href="{{ path('app_mecanicien_show', {'id': mecanicien.id}) }}">Voir</a>
                    <a href="{{ path('app_mecanicien_edit', {'id': mecanicien.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mecanicien_new') }}">Create new</a>
   
{% endblock %}
