<!DOCTYPE html>

<title>Mecanicien</title>

{% block body %}
    <h1>Mecanicien</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mecanicien.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ mecanicien.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ mecanicien.prenom }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ mecanicien.localisation }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ mecanicien.disponibilite }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ mecanicien.numero }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ mecanicien.image }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ mecanicien.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mecanicien_index') }}">Revenir à la liste</a>

    <a href="{{ path('app_mecanicien_edit', {'id': mecanicien.id}) }}">Modifier</a>

    {{ include('mecanicien/_delete_form.html.twig') }}
{% endblock %}
