

<body>
    <h1>Contrat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ contrat.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ contrat.prenom }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ contrat.email }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ contrat.id }}</td>
            </tr>
            <tr>
                <th>DateDebutContrat</th>
                <td>{{ contrat.dateDebutContrat ? contrat.dateDebutContrat|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DatefinContrat</th>
                <td>{{ contrat.datefinContrat ? contrat.datefinContrat|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>AdresseAssur</th>
                <td>{{ contrat.adresseAssur }}</td>
            </tr>
            <tr>
                <th>NumeroAssur</th>
                <td>{{ contrat.numeroAssur }}</td>
            </tr>
            
        </tbody>
    </table>
</body>

</html>
