{% block body %}
    <div class="custom-container">
        <div class="card-body">
            {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form_label(form.date_taitement) }}
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-time" ></i></span>
                        {{ form_widget(form.date_taitement, {'attr': {'class': 'form-control', 'placeholder': 'Date de traitement'}, 'label_attr': {'class': 'sr-only'}}) }}
                    </div>
                    {{ form_errors(form.date_taitement) }}
                </div>

                <div class="form-group col-md-6">
                    {{ form_label(form.responsable) }}
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-user"></i></span>
                        {{ form_widget(form.responsable, {'attr': {'class': 'form-control', 'placeholder': 'Responsable'}, 'label_attr': {'class': 'sr-only'}}) }}
                    </div>
                    {{ form_errors(form.responsable) }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form_label(form.statut) }}
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-refresh"></i></span>
                        {{ form_widget(form.statut, {'attr': {'class': 'form-control'}, 'label_attr': {'class': 'sr-only'}}) }}
                    </div>
                    {{ form_errors(form.statut) }}
                </div>

                <div class="form-group col-md-6">
                    {{ form_label(form.remarque) }}
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-comment"></i></span>
                        {{ form_widget(form.remarque, {'attr': {'class': 'form-control', 'placeholder': 'Description'}, 'label_attr': {'class': 'sr-only'}}) }}
                    </div>
                    {{ form_errors(form.remarque) }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Send</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
