{% extends 'admin/base-admin.html.twig' %}

{% block title %}Affichage des devis{% endblock %}

{% block body %}
    <h1>Devis</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Adresse</th>
                    <th>Email</th>
                    <th>Date de Naissance</th>
                    <th>Numéro de Téléphone</th>
                    <th>Modèle</th>
                    <th>Puissance</th>
                    <th>Prix</th>
                    <th>Actions</th> <!-- Added Actions column -->
                </tr>
            </thead>
            <tbody>
                {% for devi in devis %}
                    <tr>
                        <td>{{ devi.id }}</td>
                        <td>{{ devi.nom }}</td>
                        <td>{{ devi.prenom }}</td>
                        <td>{{ devi.adresse }}</td>
                        <td>{{ devi.email }}</td>
                        <td>{{ devi.dateNaiss ? devi.dateNaiss|date('Y-m-d') : '' }}</td>
                        <td>{{ devi.numTel }}</td>
                        <td>{{ devi.modele }}</td>
                        <td>{{ devi.puissance }}</td>
                        <td>{{ devi.prix }}</td>
                        <td>
                            <a href="{{ path('app_reponse_devis_new', {'id': devi.id}) }}">créer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
