
{% extends 'admin/base-admin.html.twig' %}

{% block title %}affichage devis{% endblock %}
<title>Devis</title>

{% block body %}
<!DOCTYPE html>
    <h1>Devis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ devi.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ devi.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ devi.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ devi.adresse }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ devi.email }}</td>
            </tr>
            <tr>
                <th>Date_naiss</th>
                <td>{{ devi.dateNaiss ? devi.dateNaiss|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Num_tel</th>
                <td>{{ devi.numTel }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ devi.modele }}</td>
            </tr>
            <tr>
                <th>Puissance</th>
                <td>{{ devi.puissance }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ devi.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_devis_back_index') }}">back to list</a>

    <a href="{{ path('app_devis_back_edit', {'id': devi.id}) }}">edit</a>

    {{ include('devis_back/_delete_form.html.twig') }}
{% endblock %}
