{% extends 'admin/base-admin.html.twig' %}
{% block title %}Devis{% endblock %}

{% block body %}
    <h1>Devis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdDev</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>DateNaissance</th>
                <th>NumTel</th>
                <th>Modele</th>
                <th>Puissance</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for devi in devis %}
            <tr>
                <td>{{ devi.idDev }}</td>
                <td>{{ devi.nom }}</td>
                <td>{{ devi.prenom }}</td>
                <td>{{ devi.adresse }}</td>
                <td>{{ devi.email }}</td>
                <td>{{ devi.dateNaissance ? devi.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ devi.numTel }}</td>
                <td>{{ devi.modele }}</td>
                <td>{{ devi.puissance }}</td>
                <td>{{ devi.prix }}</td>
                <td>
                    <a href="{{ path('app_devis_show', {'idDev': devi.idDev}) }}">show</a>
                    <a href="{{ path('app_devis_edit', {'idDev': devi.idDev}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_devis_new') }}">Create new</a>
{% endblock %}
