{% extends 'client/base-clientD.html.twig' %}
{% block title %} devis{% endblock %}

{% block body %}
    <div class="container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
        <h1>Devis</h1>

        <table class="table">
            <thead>
              <div style="margin-bottom: 10px;">
        {#<input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search for livraisons...">#}
        <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="ecrire ici..." name="text" class="input">
        {#<select id="searchAttribute">
            <option value="id">Id</option>
            <option value="dateLiv">DateLiv</option>
            <option value="adresseLiv">AdresseLiv</option>
            <option value="description">Description</option>
            <option value="etat">Etat</option>
            <option value="reference">Commande</option>
            <option value="Nom">Nom</option>
            <option value="matricule">Matricule</option>
        </select>#}
        <div class="paste-button" onmouseleave="hideDropdown()">
        <button class="button" onmouseenter="showDropdown()">choisir attribut; ▼</button>
        <div class="dropdown-content" id="searchAttributeDropdown">
            <a href="#" onclick="selectAttribute('id')">Id</a>
            <a href="#" onclick="selectAttribute('nom')">nom</a>
            <a href="#" onclick="selectAttribute('prenom')">prenom</a>
            <a href="#" onclick="selectAttribute('adresse')">adresse</a>
            <a href="#" onclick="selectAttribute('email')">email</a>
            <a href="#" onclick="selectAttribute('dateNaiss')">dateNaiss</a>
            <a href="#" onclick="selectAttribute('numTel')">numTel</a>
            <a href="#" onclick="selectAttribute('modele')">modele</a>
            <a href="#" onclick="selectAttribute('puissance')">puissance</a>
            <a href="#" onclick="selectAttribute('prix')">prix</a>
        </div>
        </div>
    </div>

    <select id="searchAttribute" style="display: none;">
    <option value="id">Id</option>
    <option value="nom">nom</option>
    <option value="prenom">prenom</option>
    <option value="adresse">adresse</option>
    <option value="email">email</option>
    <option value="dateNaiss">dateNaiss</option>
    <option value="numTel">numTel</option>
    <option value="modele">modele</option>
     <option value="puissance">puissance</option>
    <option value="prix">prix</option>
    </select>

    <table class="table" id="DevisTable">
        <thead>
            <tr>
                <th><a href="#" onclick="toggleSorting(0)"{#"{{ path('app_devis_index', {'sort_by': 'id', 'order': order == 'ASC' ? 'DESC' : 'ASC' }) }}"#}>Id</a></th>
                <th><a href="#" onclick="toggleSorting(1)"{#"{{ path('app_devis_index', {'sort_by': 'nom', 'order': order == 'ASC' ? 'DESC' : 'ASC' }) }}"#}>nom</a></th>
                <th><a href="#" onclick="toggleSorting(2)"{#"{{ path('app_devis_index', {'sort_by': 'prenom', 'order': order == 'ASC' ? 'DESC' : 'ASC' }) }}"#}>prenom</a></th>
                <th><a href="#" onclick="toggleSorting(3)"{#"{{ path('app_devis_index', {'sort_by': 'adresse', 'order': order == 'ASC' ? 'DESC' : 'ASC' }) }}"#}>adresse</a></th>
                <th><a href="#" onclick="toggleSorting(4)"{#"{{ path('app_devis_index', {'sort_by': 'email', 'order': order == 'ASC' ? 'DESC' : 'ASC' }) }}"#}>email</a></th>
                <th><a href="#" onclick="toggleSorting(5)"{#"{{ path('app_devis_index', {'sort_by': 'dateNaiss', 'order': order == 'ASC' ? 'DESC' : 'ASC' }) }}"#}>dateNaiss</a></th>
                <th><a href="#" onclick="toggleSorting(6)"{#"{{ path('app_devis_index', {'sort_by': 'numTel', 'order': order == 'ASC' ? 'DESC' : 'ASC' }) }}"#}>numTel</a></th>
                <th><a href="#" onclick="toggleSorting(7)"{#"{{ path('app_devis_index', {'sort_by': 'modele', 'order': order == 'ASC' ? 'DESC' : 'ASC' }) }}"#}>modele</a></th>
                <th><a href="#" onclick="toggleSorting(6)"{#"{{ path('app_devis_index', {'sort_by': 'puissance', 'order': order == 'ASC' ? 'DESC' : 'ASC' }) }}"#}>puissance</a></th>
                <th><a href="#" onclick="toggleSorting(7)"{#"{{ path('app_devis_index', {'sort_by': 'prix', 'order': order == 'ASC' ? 'DESC' : 'ASC' }) }}"#}>prix</a></th>
                <th>actions</th>
            </tr>
        </thead>


        <script>
       var sortOrder = "asc";

    function searchTable() {
        var input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("DevisTable");
        tr = table.getElementsByTagName("tr");

        // Get the index of the selected attribute from the dropdown
        var attributeIndex = document.getElementById("searchAttribute").selectedIndex;

        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[attributeIndex];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function toggleSorting(columnIndex) {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("DevisTable");
        switching = true;

        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("td")[columnIndex];
                y = rows[i + 1].getElementsByTagName("td")[columnIndex];

                if (sortOrder === "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (sortOrder === "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
        // Reverse the sorting order for the next click
        sortOrder = sortOrder === "asc" ? "desc" : "asc";
    }

    function showDropdown() {
    var dropdownContent = document.getElementById("searchAttributeDropdown");
    dropdownContent.style.display = "block";
    }

    function hideDropdown() {
    var dropdownContent = document.getElementById("searchAttributeDropdown");
    dropdownContent.style.display = "none";
    }

    function selectAttribute(attribute) {
    document.getElementById("searchAttribute").value = attribute;
    hideDropdown();
    updateButtonText(attribute);
    }

    function updateButtonText(attribute) {
    var button = document.querySelector(".paste-button .button");
    button.textContent = attribute /*+ " &nbsp; ▼"*/;
    }



</script>
        <tbody>
            </thead>
            <tbody>
                {% for devi in devis %}
                    <tr>
                        <td>{{ devi.id }}</td>
                        <td>{{ devi.nom }}</td>
                        <td>{{ devi.prenom }}</td>
                        <td>{{ devi.adresse }}</td>
                        <td>{{ devi.email }}</td>
                        <td>{{ devi.dateNaiss ? devi.dateNaiss|date('Y-m-d') : '' }}</td>
                        <td>{{ devi.numTel }}</td>
                        <td>{{ devi.modele }}</td>
                        <td>{{ devi.puissance }}</td>
                        <td>{{ devi.prix }}</td>
                        <td>
                            <a href="{{ path('app_devis_show', {'id': devi.id}) }}" class="btn btn-primary">voir</a>
                            <a href="{{ path('app_devis_edit', {'id': devi.id}) }}" class="btn btn-warning">modifier</a>
                            <a href="{{ path('app_reponse_devis_show', {'id': devi.id}) }}" class="btn btn-info"> reponse</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="category-statistics" style="margin-top: 20px;">
            <canvas id="categoryChart" width="400" height="400"></canvas>
        </div>

      

        <a href="{{ path('app_devis_new') }}" class="btn btn-success" style="margin-top: 20px;">crée devis</a>
        <a href="{{ path('app_bot') }}" class="btn btn-primary" style="margin-top: 20px;">Espace Bot</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('categoryChart').getContext('2d');
        var colors = ['#ff0000', '#00ff00', '#0000ff', '#ffff00', '#ff00ff', '#00ffff', '#ff8000', '#8000ff', '#0080ff', '#80ff00'];

        var data = {
            labels: [
                {% for devi in devis %}
                    '{{ devi.modele }}',
                {% endfor %}
            ],
            datasets: [{
                data: [
                    {% for devi in devis %}
                        1, // Just a placeholder value, you can replace it with meaningful data
                    {% endfor %}
                ],
                backgroundColor: colors
            }]
        };

        var categoryChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: {
                responsive: false,
                maintainAspectRatio: false,
                legend: {
                    display: false
                }
            }
        });
    </script>




    <style>
.input {
  border-radius: 10px;
  outline: 2px solid #FEBF00;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
}

.input:focus {
  outline-offset: 5px;
  background-color: #fff
}

.paste-button {
  position: relative;
  display: inline-block;
}

.button {
  background-color: #4CAF50;
  color: #ffffff;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 200px;
  background-color: #ffffff;
  border: 2px solid #4CAF50;
  border-top: none;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: #4CAF50;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
}

.dropdown-content a:hover {
  background-color: #4CAF50;
  color: #ffffff;
}

.paste-button:hover .dropdown-content {
  display: block;
}

</style>
{% endblock %}
