<!DOCTYPE html>
<html
	lang="en" class="light-style layout-menu-fixed layout-compact " dir="ltr" data-theme="theme-default" data-asset-path="../asset/" data-template="vertical-menu-template-free">


	<!-- Mirrored from demos.themeselection.com/sneat-bootstrap-html-admin-template-free/html/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 11 Feb 2024 13:13:57 GMT -->
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

		<title>Admin panel</title>


		<meta name="description" content="Most Powerful &amp; Comprehensive Bootstrap 5 HTML Admin Dashboard Template built for developers!"/>
		<meta
		name="keywords" content="dashboard, bootstrap 5 dashboard, bootstrap 5 design, bootstrap 5">
		<!-- Canonical SEO -->
		<link rel="canonical" href="https://themeselection.com/item/sneat-bootstrap-html-admin-template/">


		<!-- ? PROD Only: Google Tag Manager (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
		 <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
						      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
						      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
						      '../../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
						      })(window,document,'script','dataLayer','GTM-5DDHKGP');</script>
		<!-- End Google Tag Manager -->

		<!-- Favicon -->
		<link
		rel="icon" type="image/x-icon" href="https://demos.themeselection.com/sneat-bootstrap-html-admin-template-free/asset/img/favicon/favicon.ico"/> <!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com/">
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">

		{% block css %}
			<link
			rel="stylesheet" href="../asset/vendor/fonts/boxicons.css"/>


			<!-- Core CSS -->
			<link rel="stylesheet" href="{{asset('back/vendor/css/core.css')}}" class="template-customizer-core-css"/>
			<link rel="stylesheet" href="{{asset('back/vendor/css/theme-default.css')}}" class="template-customizer-theme-css"/>
			<link
			rel="stylesheet" href="{{asset('back/css/demo.css')}}"/>

			<!-- Vendors CSS -->
			<link rel="stylesheet" href="{{asset('back/vendor/libs/perfect-scrollbar/perfect-scrollbar.css')}}"/>
			<link rel="stylesheet" href="{{asset('back/vendor/libs/apex-charts/apex-charts.css')}}"/>

		<!-- Page CSS -->


			<!-- Helpers -->
			 <script src="{{asset('back/vendor/js/helpers.js')}}"></script>
			<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
			<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
			 <script src="{{asset('back/js/config.js')}}"></script>
		{% endblock css %}

	</head>

	<body>


		<!-- ?PROD Only: Google Tag Manager (noscript) (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0" style="display: none; visibility: hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->

      
		<!-- Layout wrapper -->
		<div class="layout-wrapper layout-content-navbar  ">
			<div
				class="layout-container">


				<!-- sidebar -->
				{% include 'admin/sidebar-admin.html.twig' %}
				<!-- / sidebar -->




				<!-- Layout container -->
				{# header #}
					<div class="layout-page"> {% include 'admin/header-admin.html.twig' %}

					<!-- Content wrapper -->
					<div
						class="content-wrapper">
						<!-- Content -->
						{% block body %}
	 <h1>Create new Evaluation</h1>

    {{ include('evaluation/_form.html.twig') }}

    <a href="{{ path('app_evaluation_index') }}">back to list</a>
						{% endblock %}
						<!-- / Content -->


						{% include 'admin/footer-admin.html.twig' %}

						<div class="content-backdrop fade"></div>
					</div>
					<!-- Content wrapper -->
				</div>
				<!-- / Layout page -->
			</div>


			<!-- Overlay -->
			<div class="layout-overlay layout-menu-toggle"></div>


		</div>
		<!-- / Layout wrapper -->
		<!-- Core JS -->
		<!-- build:js asset/vendor/js/core.js -->

		 <script src="{{asset('back/vendor/libs/jquery/jquery.js')}}"></script>
		 <script src="{{asset('back/vendor/libs/popper/popper.js')}}"></script>
		 <script src="{{asset('back/vendor/js/bootstrap.js')}}"></script>
		 <script src="{{asset('back/vendor/libs/perfect-scrollbar/perfect-scrollbar.js')}}"></script>
		 <script src="{{asset('back/vendor/js/menu.js')}}"></script>

		<!-- endbuild -->

		<!-- Vendors JS -->
		 <script src="{{asset('back/vendor/libs/apex-charts/apexcharts.js')}}"></script>

		<!-- Main JS -->
		 <script src="{{asset('back/js/main.js')}}"></script>


		<!-- Page JS -->
		 <script src="{{asset('back/js/dashboards-analytics.js')}}"></script>

		<!-- Place this tag in your head or just before your close body tag. -->
		{#  <script async defer src="{{assest('buttons.github.io/buttons.js')}}"></script>
	#}

</body></html>
