
{% extends 'admin/base-admin.html.twig' %}

{% block title %}voiture{% endblock %}

{% block body %}
    <h1 class="text-center">Voiture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voiture.id }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ voiture.matricule }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ voiture.marque }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ voiture.prixVoiture }}</td>
            </tr>
            <tr>
                <th>Puissance</th>
                <td>{{ voiture.puissance }}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <a href="{{ path('app_voiture_back_index') }}" class="btn btn-primary">Retour</a>
        <a href="{{ path('app_voiture_back_edit', {'id': voiture.id}) }}" class="btn btn-secondary">Modifier</a>
    </div>
    {{ include('voiture_back/_delete_form.html.twig') }}
{% endblock %}
