{% extends 'admin/base-admin.html.twig' %}

{% block title %}ReponseDevis{% endblock %}

{% block body %}
<!DOCTYPE html>
    <h1>ReponseDevis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdRep</th>
                <th>Etat</th>
                <th>Decision</th>
                <th>DateReglement</th>
                <th>DelaiReparation</th>
                <th>DureeValidite</th>
                <th>Documents</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse_devi in reponse_devis %}
            <tr>
                <td>{{ reponse_devi.idRep }}</td>
                <td>{{ reponse_devi.etat }}</td>
                <td>{{ reponse_devi.decision }}</td>
                <td>{{ reponse_devi.dateReglement ? reponse_devi.dateReglement|date('Y-m-d') : '' }}</td>
                <td>{{ reponse_devi.delaiReparation }}</td>
                <td>{{ reponse_devi.dureeValidite }}</td>
                <td>{{ reponse_devi.documents }}</td>
                <td>
                    <a href="{{ path('app_reponse_devis_show', {'idRep': reponse_devi.idRep}) }}">show</a>
                    <a href="{{ path('app_reponse_devis_edit', {'idRep': reponse_devi.idRep}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reponse_devis_new') }}">Create new</a>
{% endblock %}
