<!DOCTYPE html>

<title>ReponseDevis index</title>

{% block body %}
    <h1>ReponseDevis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Etat</th>
                <th>Decision</th>
                <th>Date_reglement</th>
                <th>Delai_reparation</th>
                <th>Duree_validite</th>
                <th>Documents</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse_devi in reponse_devis %}
            <tr>
                <td>{{ reponse_devi.id }}</td>
                <td>{{ reponse_devi.etat }}</td>
                <td>{{ reponse_devi.decision }}</td>
                <td>{{ reponse_devi.dateReglement ? reponse_devi.dateReglement|date('Y-m-d') : '' }}</td>
                <td>{{ reponse_devi.delaiReparation }}</td>
                <td>{{ reponse_devi.dureeValidite }}</td>
                <td>{{ reponse_devi.documents }}</td>
                <td>
                    <a href="{{ path('app_reponse_devis_show', {'id': reponse_devi.id}) }}">show</a>
                    <a href="{{ path('app_reponse_devis_edit', {'id': reponse_devi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reponse_devis_new') }}">Create new</a>
{% endblock %}
