{% extends 'admin/base-admin.html.twig' %}

{% block title %}ReponseDevis{% endblock %}

{% block body %}
    <h1>ReponseDevis</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Etat</th>
                <th>Decision</th>
                <th>Date_reglement</th>
                <th>Delai_reparation</th>
                <th>Duree_validite</th>
                <th>Documents</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse_devi in reponse_devis %}
            <tr>
                <td>{{ reponse_devi.id }}</td>
                <td>{{ reponse_devi.etat }}</td>
                <td>{{ reponse_devi.decision }}</td>
                <td>{{ reponse_devi.dateReglement ? reponse_devi.dateReglement|date('Y-m-d') : '' }}</td>
                <td>{{ reponse_devi.delaiReparation }}</td>
                <td>{{ reponse_devi.dureeValidite }}</td>
                <td>
                    {% if reponse_devi.documents %}
                        {% if reponse_devi.documents|lower matches '/\.(jpeg|jpg|gif|png|pdf)$/i' %}
                            <img src="{{ asset('uploads/documents/' ~ reponse_devi.documents) }}" alt="reponse documents" style="max-width: 200px;">
                        {% else %}
                            <a href="{{ asset('uploads/documents/' ~ reponse_devi.documents) }}" target="_blank">voir Document</a>
                        {% endif %}
                    {% else %}
                       pas de document
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_reponse_devis_show', {'id': reponse_devi.id}) }}">voir</a>
                    <a href="{{ path('app_reponse_devis_edit', {'id': reponse_devi.id}) }}">edition</a>
                     {{ include('reponse_devis/_delete_form.html.twig') }}
                </td>
               
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reponse_devis_new') }}">créer </a>
{% endblock %}
