<!DOCTYPE html>

<title>ReponseDevis</title>

{% block body %}
    <h1>ReponseDevis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reponse_devi.id }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ reponse_devi.etat }}</td>
            </tr>
            <tr>
                <th>Decision</th>
                <td>{{ reponse_devi.decision }}</td>
            </tr>
            <tr>
                <th>Date_reglement</th>
                <td>{{ reponse_devi.dateReglement ? reponse_devi.dateReglement|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Delai_reparation</th>
                <td>{{ reponse_devi.delaiReparation }}</td>
            </tr>
            <tr>
                <th>Duree_validite</th>
                <td>{{ reponse_devi.dureeValidite }}</td>
            </tr>
            <tr>
                <th>Documents</th>
                <td>{{ reponse_devi.documents }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reponse_devis_index') }}">back to list</a>

    <a href="{{ path('app_reponse_devis_edit', {'id': reponse_devi.id}) }}">edit</a>

    {{ include('reponse_devis/_delete_form.html.twig') }}
{% endblock %}
