
{{ form_start(form, {'attr': {'style': 'background-color: #f0f0f0; padding: 10px;'}}) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
    <button style="color: #ffffff; background-color: #007bff;" class="btn btn-outline-primary">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
  