{% extends 'base-admin.html.twig' %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block title %}Constat{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}



   
 {# <form method="get" action="{{ path('app_constat_index') }}">
   
  <div class="form-check">
    <input href="{{ path('app_constat_index', {'sort': 'date', 'order': 'asc'}) }}" class="form-check-input" type="radio" name="sort" id="sortDateAsc" value="date" {% if sort == 'date' and order == 'asc' %}checked{% endif %}>
    <label class="form-check-label" for="sortDateAsc">
        Sort by Date (Asc)
    </label>


</div>

<div class="form-check">
    <input href="{{ path('app_constat_index', {'sort': 'date', 'order': 'desc'}) }}" class="form-check-input" type="radio" name="sort" id="sortDateDesc" value="date" {% if sort == 'date' and order == 'desc' %}checked{% endif %}>
    <label class="form-check-label" for="sortDateDesc">
        Sort by Date (Desc)
    </label>
</div>
    <button class="btn btn-outline-secondary" type="submit">Search</button>
</form> #}

<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">


        <div class="navbar-nav align-items-center">
        <div class="nav-item d-flex align-items-center">
        <i class="bx bx-search fs-4 lh-0"></i>
            <input type="search" id="search" class="form-control border-0 shadow-none ps-1 ps-sm-2" placeholder="Search..." name="search" >
 
        </div>
         
        </div>
       

     
</nav>
   
    <h1>Constat index</h1>
    <div id='tableAjax'>
{% include "constat/listAjax.html.twig" with {'constats' : constats} %}
</div>    
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
   $(document).ready(function() {
        $('#search').on('input', function() {
            var search = $(this).val();
console.log(search)
            $.ajax({
                url: "{{ path('app_constat_search') }}",
                type: "POST",
                data: { search: search },
                success: function(data) {
                    console.log(data)
                    $("#tableAjax").html(data);
                },
                error: function(){
                    console.log("im not working")
                }
            });
        });
    });
    </script>

    

   
{% endblock %}
