{% extends 'base-client.html.twig' %}

{% block css %}
    {{ parent() }}
    <!-- Additional CSS specific to list_by_user.html.twig -->
    <style>
        /* Add your custom styles here */
    </style>
{% endblock %}

{% block title %}Constat List{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <h1>Constats for User {{ iduser }}</h1>
<dic class="container">
    <div class="row">
        {% for constat in constats %}
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: slideInUp;">
                <div class="team-item bg-light rounded overflow-hidden">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{{ asset('uploads/' ~ constat.photo) }}" alt="Uploaded Image" length="100" width="100">
                        <div class="team-social">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="{{ path('app_constat_showfront', {'id': constat.id}) }}"><i class="fab fa-twitter fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="{{ path('app_constat_download_pdf', {'id': constat.id}) }}"><i class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <h4 class="text-primary">{{ constat.id }}</h4>
                        <p class="text-uppercase m-0">{{ constat.description }}</p>
                    </div>
                </div>
            </div>
            
        {% else %}
            <p>{{ 'No records found'|trans }}</p>
        {% endfor %}
    </div>
    </div>
           

    <a type="submit" class="btn btn-outline-success" href="{{ path('app_constat_new') }}">Create new <i class='bx bx-plus'></i></a>
{% endblock %}
