{% extends 'admin/base-admin.html.twig' %}

{% block title %}show Commentaire{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <h1>Commentaire </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>DateCreation</th>
                <th>Auteur</th>
               
            </tr>
        </thead>
        <tbody>
            {% for commentaire in commentaires %}
                <tr>
                    <td>{{ commentaire.id }}</td>
                    <td>{{ commentaire.contenu }}</td>
                    <td>{{ commentaire.dateCreation ? commentaire.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ commentaire.auteur }}</td>
                      <td>
                    <a href="{{ path('app_commentaire_back_show', {'id': commentaire.id}) }}" class="btn btn-primary">Voir</a>
                    <a href="{{ path('app_commentaire_back_edit', {'id': commentaire.id}) }}" class="btn btn-success">Modifier</a>
                </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
