{% extends 'admin/base-front.html.twig' %}

{% block title %}Contrat{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <h1>Contrat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contrat.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contrat.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ contrat.prenom }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ contrat.email }}</td>
            </tr>
            
            <tr>
                <th>DateDebutContrat</th>
                <td>{{ contrat.dateDebutContrat ? contrat.dateDebutContrat|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DatefinContrat</th>
                <td>{{ contrat.datefinContrat ? contrat.datefinContrat|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Type de contrat</th>
                <td>{{ contrat.getTypeCouverture }}</td>
            </tr>
            <tr>
                <th>AdresseAssur</th>
                <td>{{ contrat.adresseAssur }}</td>
            </tr>
            <tr>
                <th>NumeroAssur</th>
                <td>{{ contrat.numeroAssur }}</td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('app_contrat_index') }}">back to list</a>

    <a href="{{ path('app_contrat_edit', {'id': contrat.id}) }}">edit</a>

    {{ include('contrat/_delete_form.html.twig') }}
{% endblock %}
