{% extends 'client/base-client.html.twig' %}

{% block body %}
<<<<<<< HEAD
	<!-- Full Screen Search Start -->
	<div class="modal fade" id="searchModal" tabindex="-1">
		<div class="modal-dialog modal-fullscreen">
			<div class="modal-content" style="background: rgba(9, 30, 62, .7);">
				<div class="modal-header border-0">
					<button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body d-flex align-items-center justify-content-center">
					<div class="input-group" style="max-width: 600px;">
						<input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
						<button class="btn btn-primary px-4">
							<i class="bi bi-search"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Full Screen Search End -->


	<!-- Facts Start -->
	<div class="container-fluid facts py-5 pt-lg-0">
		<div class="container py-5 pt-lg-0">
			<div class="row gx-0">
				<div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
					<div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
						<div class="bg-white d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
							<i class="fa fa-users text-primary"></i>
						</div>
						<div class="ps-4">
							<h5 class="text-white mb-0">Clients Satisfaits</h5>
							<h1 class="text-white mb-0" data-toggle="counter-up">12345</h1>
						</div>
					</div>
				</div>
				<div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
					<div class="bg-light shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
						<div class="bg-primary d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
							<i class="fa fa-check text-white"></i>
						</div>
						<div class="ps-4">
							<h5 class="text-primary mb-0">Voitures Assurées</h5>
							<h1 class="mb-0" data-toggle="counter-up">12345</h1>
						</div>
					</div>
				</div>
				<div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
					<div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
						<div class="bg-white d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
							<i class="fa fa-award text-primary"></i>
						</div>
						<div class="ps-4">
							<h5 class="text-white mb-0">Prix gagnés</h5>
							<h1 class="text-white mb-0" data-toggle="counter-up">12345</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Facts Start -->


	<!-- About Start -->

	<!-- About End -->


	<!-- Features Start -->
		<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s"> <div class="container py-5">
			<div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
				<h5 class="fw-bold text-primary text-uppercase">Pourquoi Nous Choisir</h5>
				<h1 class="mb-0">Nous Sommes Là Pour Vous Protéger</h1>
			</div>
			<div class="row g-5">
				<div class="col-lg-4">
					<div class="row g-5">
						<div class="col-12 wow zoomIn" data-wow-delay="0.2s">
							<div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
								<i class="fa fa-cubes text-white"></i>
							</div>
							<h4>Meilleur De L'industrie</h4>
							<p class="mb-0">Leaders De L'innovation, Qualité Inégalée : Notre Engagement, Votre Confiance</p>
						</div>
						<div class="col-12 wow zoomIn" data-wow-delay="0.6s">
							<div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
								<i class="fa fa-award text-white"></i>
							</div>
							<h4>Gangne Prix</h4>
							<p class="mb-0">Gagnant De Nombreux Prix, La Reconnaissance De Notre Excellence</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
					<div class="position-relative h-100">
						<img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="{{asset('front/img/feature.jpg')}}" style="object-fit: cover;">
					</div>
				</div>
				<div class="col-lg-4">
					<div class="row g-5">
						<div class="col-12 wow zoomIn" data-wow-delay="0.4s">
							<div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
								<i class="fa fa-users-cog text-white"></i>
							</div>
							<h4>Staff Professionel
							</h4>
							<p class="mb-0">Staff Professionnel : Excellence en Service, Compétence Assurée</p>
						</div>
						<div class="col-12 wow zoomIn" data-wow-delay="0.8s">
							<div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
								<i class="fa fa-phone-alt text-white"></i>
							</div>
							<h4>24/7 Support</h4>
							<p class="mb-0">24/7 Support : Toujours Là Pour Vous, En Toute Circonstance</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Features Start -->


	<!-- Service Start -->
	<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
		<div class="container py-5">
			<div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
				<h5 class="fw-bold text-primary text-uppercase">Service Mécanicien</h5>
				<h1 class="mb-0">La puissance du savoir-faire mécanique, au service de votre véhicule!</h1>
			</div>
			<div class="row g-5">
				<div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
					<div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
						<div class="service-icon">
							<i class="fa fa-shield-alt text-white"></i>
						</div>
						<h4 class="mb-3" voiture>
							Voiture</h4>
						<p class="m-0">Conduisez Sereinement, Protégez Votre Véhicule Avec Confiance</p>
						<a class="btn btn-lg btn-primary rounded" href="">
							<i class="bi bi-arrow-right"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
					<div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
						<div class="service-icon">
							<i class="fa fa-chart-pie text-white"></i>
						</div>
						<h4 class="mb-3">Sinistre</h4>
						<p class="m-0">Face Aux Sinistres, Nous Sommes Votre Bouclier.</p>
						<a class="btn btn-lg btn-primary rounded" href="">
							<i class="bi bi-arrow-right"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
					<div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
						<div class="service-icon">
							<i class="fa fa-code text-white"></i>
						</div>
						<h4 class="mb-3">Réparation</h4>
						<p class="m-0">Réparation Rapide, Qualité Assurée, Votre Satisfaction Garantie</p>
						<a class="btn btn-lg btn-primary rounded" href="">
							<i class="bi bi-arrow-right"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
					<div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
						<div class="service-icon">
							<i class="fab fa-android text-white"></i>
						</div>
						<h4 class="mb-3">Actualités</h4>
						<p class="m-0">Restez Informés, Eclairez Vos Choix Avec Nos Actualités.</p>
						<a class="btn btn-lg btn-primary rounded" href="">
							<i class="bi bi-arrow-right"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
					<div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
						<div class="service-icon">
							<i class="fa fa-search text-white"></i>
						</div>
						<h4 class="mb-3">Contrats</h4>
						<p class="m-0">Des Contrats Sur Mesure, Pour Une Protection Sans Compromis</p>
						<a class="btn btn-lg btn-primary rounded" href="{{ path('app_contrat_new') }}">
							<i class="bi bi-arrow-right"></i>
						</a>

					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
					<div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
						<div class="service-icon">
							<i class="fa fa-search text-white"></i>
						</div>
						<h4 class="mb-3">Devis</h4>
						<p class="m-0">Des Devis Clairs, Des Solutions Adaptées A Chaque Besoin</p>
						<a class="btn btn-lg btn-primary rounded" href="">
							<i class="bi bi-arrow-right"></i>
						</a>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
					<div class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
						<h3 class="text-white mb-3">Contact</h3>
						<p class="text-white mb-3">Contactez-nous : La Clé Pour des Solutions Personnalisées</p>
						<h2 class="text-white mb-0">+216 345 6789</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Service End -->


	<!-- Pricing Plan Start -->

	<!-- Pricing Plan End -->


	<!-- Quote Start -->

	<!-- Quote End -->


	<!-- Testimonial Start -->

	<!-- Testimonial End -->


	<!-- Team Start -->

	<!-- Team End -->


	<!-- Blog Start -->
		<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s"> <div class="container py-5"></div>
	</div>

</div></div></div><!-- Blog Start --><!-- Vendor Start --><div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s"><div class="container py-5 mb-5">
<div class="bg-white">
	<div class="owl-carousel vendor-carousel">
		<img src="{{asset('front/img/vendor-1.jpg')}}" alt="">
		<img src="{{asset('front/img/vendor-2.jpg')}}" alt="">
		<img src="{{asset('front/img/vendor-3.jpg')}}" alt="">
		<img src="{{asset('front/img/vendor-4.jpg')}}" alt="">
		<img src="{{asset('front/img/vendor-5.jpg')}}" alt="">
		<img src="{{asset('front/img/vendor-6.jpg')}}" alt="">
		<img src="{{asset('front/img/vendor-7.jpg')}}" alt="">
		<img src="{{asset('front/img/vendor-8.jpg')}}" alt="">
		<img src="{{asset('front/img/vendor-9.jpg')}}" alt="">
	</div>
</div></div></div><!-- Vendor End -->{% endblock %}
=======
<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                    <button class="btn btn-primary px-4">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->


<!-- Facts Start -->
<div class="container-fluid facts py-5 pt-lg-0">
    <div class="container py-5 pt-lg-0">
        <div class="row gx-0">
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
                <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                    <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                        <i class="fa fa-users text-primary"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white mb-0">Clients Satisfaits</h5>
                        <h1 class="text-white mb-0" data-toggle="counter-up">12345</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
                <div class="bg-light shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                        <i class="fa fa-check text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-primary mb-0">Voitures Assurées</h5>
                        <h1 class="mb-0" data-toggle="counter-up">12345</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
                <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                    <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                        <i class="fa fa-award text-primary"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white mb-0">Prix gagnés</h5>
                        <h1 class="text-white mb-0" data-toggle="counter-up">12345</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts Start -->


<!-- About Start -->

<!-- About End -->


<!-- Features Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Pourquoi Nous Choisir</h5>
            <h1 class="mb-0">Nous Sommes Là Pour Vous Protéger</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-cubes text-white"></i>
                        </div>
                        <h4>Meilleur De L'industrie</h4>
                        <p class="mb-0">Leaders De L'innovation, Qualité Inégalée : Notre Engagement, Votre Confiance</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-award text-white"></i>
                        </div>
                        <h4>Gangne Prix</h4>
                        <p class="mb-0">Gagnant De Nombreux Prix, La Reconnaissance De Notre Excellence</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="{{asset('front/img/feature.jpg')}}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-users-cog text-white"></i>
                        </div>
                        <h4>Staff Professionel </h4>
                        <p class="mb-0">Staff Professionnel : Excellence en Service, Compétence Assurée</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <h4>24/7 Support</h4>
                        <p class="mb-0">24/7 Support : Toujours Là Pour Vous, En Toute Circonstance</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features Start -->


<!-- Service Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Service Mécanicien</h5>
            <h1 class="mb-0">La puissance du savoir-faire mécanique, au service de votre véhicule!</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-shield-alt text-white"></i>
                    </div>
                    <h4 class="mb-3"Voiture> Voiture</h4>
                    <p class="m-0">Conduisez Sereinement, Protégez Votre Véhicule Avec Confiance</p>
                    {#<a class="btn btn-lg btn-primary rounded" href="{{ path('app_voiture_index') }}">#}
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-chart-pie text-white"></i>
                    </div>
                    <h4 class="mb-3">Sinistre</h4>
                    <p class="m-0">Face Aux Sinistres, Nous Sommes Votre Bouclier.</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-code text-white"></i>
                    </div>
                    <h4 class="mb-3">Réparation</h4>
                    <p class="m-0">Réparation Rapide, Qualité Assurée, Votre Satisfaction Garantie</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fab fa-android text-white"></i>
                    </div>
                    <h4 class="mb-3">Actualités</h4>
                    <p class="m-0">Restez Informés, Eclairez Vos Choix Avec Nos Actualités.</p>
                    <a class="btn btn-lg btn-primary rounded" href="{{ path('app_post_front_index') }}">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-search text-white"></i>
                    </div>
                    <h4 class="mb-3">Contrats</h4>
                    <p class="m-0">Des Contrats Sur Mesure, Pour Une Protection Sans Compromis</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-search text-white"></i>
                    </div>
                                        <h4 class="mb-3">Devis</h4>
                    <p class="m-0">Des Devis Clairs, Des Solutions Adaptées A Chaque Besoin</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
                    <h3 class="text-white mb-3">Contact</h3>
                    <p class="text-white mb-3">Contactez-nous : La Clé Pour des Solutions Personnalisées</p>
                    <h2 class="text-white mb-0">+216 345 6789</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


<!-- Pricing Plan Start -->
                     
<!-- Pricing Plan End -->


<!-- Quote Start -->

<!-- Quote End -->


<!-- Testimonial Start -->

<!-- Testimonial End -->


<!-- Team Start -->

<!-- Team End -->


<!-- Blog Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">

        
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Blog Start -->


<!-- Vendor Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5 mb-5">
        <div class="bg-white">
            <div class="owl-carousel vendor-carousel">
                <img src="{{asset('front/img/vendor-1.jpg')}}" alt="">
                <img src="{{asset('front/img/vendor-2.jpg')}}" alt="">
                <img src="{{asset('front/img/vendor-3.jpg')}}" alt="">
                <img src="{{asset('front/img/vendor-4.jpg')}}" alt="">
                <img src="{{asset('front/img/vendor-5.jpg')}}" alt="">
                <img src="{{asset('front/img/vendor-6.jpg')}}" alt="">
                <img src="{{asset('front/img/vendor-7.jpg')}}" alt="">
                <img src="{{asset('front/img/vendor-8.jpg')}}" alt="">
                <img src="{{asset('front/img/vendor-9.jpg')}}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->
{% endblock %}
>>>>>>> gestion_actualitee
